{% extends 'index.html' %}

{% block main%}

<main>
	
    <div class="cards">

        <div class="card-single">
            <div>
                <h2>{{contrats}}</h2>
                <small>Nombre de contract</small>
            </div>
            <div>
                <span class="fa-solid fa-file-signature"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h2>{{conventions}}</h2>
                <small>Nombre de convention</small>
            </div>
            <div>
                <span class="fa-solid fa-people-arrows"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h2>{{users}}</h2>
                <small>Utilisateurs</small>
            </div>
            <div>
                <span class="fa-solid fa-outdent"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h2>0</h2>
                <small>Contrats Archivé </small>
            </div>
            <div>
            <span class="fa-solid fa-users"></span>
            </div>
        </div>
    </div>


    
    <div class="row p-5">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="mt-5 chart-container">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="w-50 mt-5">
              <canvas id="myChart1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{% for cont in conts %} '{{cont.type.libelle}}', {% endfor %}],
            datasets: [{
              label: '',
              data: [{% for result in results %} {{result.dcount}}, {% endfor %}],
              backgroundColor: [
                'rgba(255, 99, 132, 0.9)',
                'rgba(54, 162, 235, 0.9)',
                'rgba(255, 206, 86, 0.9)',
                'rgba(75, 192, 192, 0.9)',
                'rgba(153, 102, 255, 0.9)',
                'rgba(255, 159, 64, 0.9)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
              borderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>

      

      <script>
        const ctx1 = document.getElementById('myChart1');
      
        new Chart(ctx1, {
          type: 'pie',
          data: {
            labels: [{% for convent in convents %} '{{convent.type.libelle}}', {% endfor %}],
            datasets: [{
              label: '',
              data: [{% for results_con in results_conv %} {{results_con.c_count}}, {% endfor %}],
              backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
              borderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
</main>  


{% endblock main%}

