{% extends 'index.html' %}


{% block content %}{% endblock content %}
{% block main%}

{% comment %} buton to add  {% endcomment %}


<a href="{% url 'add_user' %}" class="btn-outline-secondary" style="width: 50px; height: 50px; margin-left: 30px;" title="Add user">
  <i style="color: yellowgreen; font-size: 25px; " class="fa-sharp fa-solid fa-folder-plus"></i> &nbsp;&nbsp;
</a>

	


{% comment %} end  buton to add  {% endcomment %}

<table table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Username</th>
      <th scope="col">Compte actif</th>
      <th scope="col">Dernière connexion</th>
      <th scope="col">Photo</th>
      <th scope="col" style="width: 7%">Edit</th>
    </tr>
  </thead>
  <tbody>
    
    {% for user_list in user_lists %}
    <tr>
      <th scope="row">{{user_list.id}}</th>
      <td>{{user_list.username}}</td>
      {% if request.user.is_active %}
      <td>Oui</td>
      {% else%}
      <td>Non</td>
       {% endif %}
      <td>{{user_list.last_login}}</td>
      <td>
      <img src="{{user_list.photo.url}}" alt="hugenerd" width="30" height="30" class="rounded-circle">
      </td>
      <td>
        <a href="{% url 'edit_user' user_list.id %}" class="btn btn-warning bg-warning text-center" title="Edit user">
          <i style="font-size: 15px;" class="fas fa-pen"></i>
      </a>
      <a href="{% url 'delete_user' user_list.id %}" class="btn btn-danger bg-danger text-center" title="Supprimer user">
        <i style="font-size: 15px;" class="fas fa-trash-alt"></i>
      </a>
    </td> 
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% endblock main%}

