<!-- Modal -->
  <div class="modal fade" id="#deleteModal{{contrat.pk}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Delete Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center text-danger"> <i class="fas fa-times-circle fa-5x mb-4 mt-2" aria-hidden="true"></i></div>
            <div class="text-center text-danger">
                <span>DO YOU WANT TO DELETE THIS Contrat ??? </span>
                <div class="text-dark mt-3 mb-2">Contrat : <strong>{{contrat.reference}}</strong></div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/delete_contrat/{{contrat.id}}" class="btn btn-outline-danger btn-sm btn-modal">Delete</a>
          <button type="button" class="btn btn-secondary bg-secondary" data-bs-dismiss="modal" style="font-size: 15px;">Anuler</button>
        </div>
      </div>
    </div>
  </div>
  